{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "rules": {
    	"no-underscore-dangle": 0,
        "semi": [2, "always"],
        "max-len": [2, 100, 4]
    },
    "env": {
        "browser": 1,
        "es6": 1
    },
    "ecmaFeatures": {
        "modules": 1
    },
    "globals": {
        "require": true
    }
}
